modules = ["python-3.12"]
run = "py main.py"

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "qhull", "tcl", "tk", "zlib"]

[deployment]
run = ["sh", "-c", "py main.py"]

[workflows]
runButton = "Run Mobile Shop App"

[[workflows.workflow]]
name = "Run Mobile Shop App"
author = 46463095
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
